/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: #27292B;
}
body .app-container .project-title-container h1,
body .app-container .deadline-container p,
body .app-container .kanban-container h2 {
  color: #EDF2F2;
}
body .app-container .edit-members-container button {
  background-color: transparent;
  color: #dcae7d;
}
body .app-container .kanban-container .board .list-container {
  background-color: #686868;
}
body .app-container .mobile-nav-container {
  background-color: #EDF2F2;
}

body,
* {
  font-family: "Nunito", sans-serif;
  line-height: 1rem;
}

.project-info-container {
  text-align: center;
  line-height: 2.5rem;
}
.project-info-container .project-title-container h1 {
  font-size: 36px;
  font-weight: 700;
}
.project-info-container .deadline-container p {
  font-size: 12px;
}

.kanban-container .board h2 {
  font-size: 24px;
}

.mobile-nav li svg {
  font-size: 26px;
}
.mobile-nav li span {
  font-size: 12px;
}

.app-container {
  margin: 40px 30px;
}
.app-container .logo-container {
  margin: 40px;
}
.app-container .project-info-container {
  margin-bottom: 3rem;
}
.app-container .project-info-container .project-title-container {
  padding-bottom: 10px;
}
.app-container .kanban-container .board h2 {
  margin-bottom: 1rem;
}
.app-container .kanban-container .board .list-container {
  padding: 1rem;
}
.app-container .mobile-nav-container {
  padding: 1rem;
}
.app-container .mobile-nav-container li span {
  margin-top: 5px;
}

.logo-container {
  text-align: center;
}
.logo-container img {
  width: 28px;
  height: auto;
}

.project-info-container .edit-members-container button {
  border: none;
}
.project-info-container .edit-members-container button span {
  position: relative;
}
.project-info-container .edit-members-container button span::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  border-bottom: 1px solid #EDF2F2;
}

.mobile-nav-container a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.mobile-nav-container a:link {
  color: #27292B;
  text-decoration: none;
}

.mobile-nav-container {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
.mobile-nav-container ul {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
}
.mobile-nav-container ul li {
  flex: 1;
}
.mobile-nav-container ul li .active-icon {
  display: none;
}

/*# sourceMappingURL=App.css.map */
