.project-info-container {
    .edit-members-container {
        button {
            border: none;

            span {
                position: relative;
    
                &::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    height: auto;
                    border-bottom: 1px solid $text-light-color;
                }
            }
        }
    }
}

.mobile-nav-container {
    a {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        &:link {
            color: $background-color;
            text-decoration: none;
        }
    }
}
