.mobile-nav-container {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;

    ul {
        display: flex;
        flex: 1;
        flex-direction: row;
        justify-content: space-between;

        li {
            flex: 1;
            .active-icon {
                display: none;
            }
        }
    }
}
