// Typography
body,
* {
    font-family: "Nunito", sans-serif;
}

.project-info-container {
    text-align: center;
    line-height: 2.5rem;

    .project-title-container {
       
        h1 {
            font-size: 28px;
            font-weight: 700;
        }
    }

    .deadline-container {
        p {
            font-size: 12px;
        }
    }
}
