body {
    background-color: $background-color;

    .app-container {
        .project-title-container h1,
        .deadline-container p,
        .kanban-container h2 {
            color: $text-light-color;
        }

        .edit-members-container button {
            background-color: transparent;
            color: $button-color;
            
        }

        .kanban-container {
            .board {
                .list-container {
                    background-color: $board-background-color;
                }
            }
        }
    }
}
