// Margin
.app-container {
    margin: 40px 30px;

    .logo-container {
        margin: 40px;
    }

    .project-info-container {
        margin-bottom: 3rem;
        .project-title-container {
            padding-bottom: 10px;
        }
    }

    .kanban-container {
        .board {
            h2 {
                margin-bottom: $padding;
            }
            .list-container {
                padding: $padding;
            }
        }
    }

    .mobile-nav-container {
        padding: $padding;

        li {
            span {
                margin-top: 5px;
            }
        }
    }
}
